<main>
<h1>Edit Book</h1>
  <div class="book_show_tile">

<%= form_with model: @book, local: true do |form| %>
  <div class="input-block">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="input-block">
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </div>
 
  <div class="input-block">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="input-block">
    <%= form.label :url %><br>
    <%= form.url_field :url %>
  </div>
 
  <div class="input-block">
    <%= form.submit %>
  </div>
<% end %>

  <div>
</main>