<main>
  <h1>Index</h1>
  <% if current_user %>
    logged in as <%= current_user.username %><br>
    <%= link_to 'Log Out', session_path(session), method: :delete %><br>
  <% else %>
    <%= link_to "log in", new_session_path %><br>
    <%= link_to "register", users_register_path %><br>
  <% end %>
  <% @books.each do |book| %>
    <%= link_to book do %>
      <div class="book_tile">
        <h2 class="book_tile_title"><%= book.title %></h2>
        <p class="book_tile_author"><%= book.author %></p>
        <nav>
          <ul class="book_tile_nav">
            <% if current_user == book.user %>
              <%= link_to edit_book_path(book) do %>
                <li>edit</li>
              <% end %>
              <%= link_to book_path(book),
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
              <li>delete</li>
              <% end %>
            <% end %>
            <a href="<%= book.url %>"><li>direct link</li></a>
          </ul>
        </nav>
        <% if book.checked_out %>
          <p class="book_tile_author">checked out</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if current_user %>
    <%= link_to new_book_path do %>
      <div class="book_tile">
        <h2 class="book_tile_title">Add Book...</h2>
      </div>
    <% end %>
  <% end %>
<main>
