<main>
  <ul class="login_options">
    <% if current_user %>
      <li><span>logged in as <%= current_user.username %></span></li>
      <%= link_to session_path(session), method: :delete do %>
        <li>log out</li><% end %>
    <% else %>
      <%= link_to new_session_path do %>
        <li>log in</li><% end %>
      <%= link_to users_register_path do %>
        <li>register</li><% end %>
    <% end %>
  </ul>
  <h1>Index</h1>
  <% @books.each do |book| %>
    <%= link_to book do %>
      <div class="book_tile">
        <h2 class="book_tile_title"><%= book.title %></h2>
        <p class="book_tile_author"><%= book.author %></p>
        <nav>
          <ul class="book_tile_nav">
            <% if current_user == book.user %>
              <%= link_to edit_book_path(book) do %>
                <li>edit</li>
              <% end %>
              <%= link_to book_path(book),
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
              <li>delete</li>
              <% end %>
            <% end %>
            <a href="<%= book.url %>"><li>direct link</li></a>
          </ul>
        </nav>
        <% if book.checked_out %>
          <p class="book_tile_author">checked out</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if current_user %>
    <%= link_to new_book_path do %>
      <div class="book_tile">
        <h2 class="book_tile_title">Add Book...</h2>
      </div>
    <% end %>
  <% end %>
<main>
