<main>
  <h1>Index</h1>
  <%= link_to "register", users_register_path %><br>
  <% @books.each do |book| %>
    <%= link_to book do %>
      <div class="book_tile">
        <h2 class="book_tile_title"><%= book.title %></h2>
        <p class="book_tile_author"><%= book.author %></p>
        <nav>
          <ul class="book_tile_nav">
            <%= link_to edit_book_path(book) do %>
              <li>edit</li>
            <% end %>
            <%= link_to book_path(book),
              method: :delete,
              data: { confirm: 'Are you sure?' } do %>
            <li>delete</li>
            <% end %>
            <a href="<%= book.url %>"><li>direct link</li></a>
          </ul>
        </nav>
        <% if book.checked_out %>
          <p class="book_tile_author">checked out</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_book_path do %>
    <div class="book_tile">
      <h2 class="book_tile_title">Add Book...</h2>
    </div>
  <% end %>
<main>
