<main>
  <div class="book_show_tile">
    <h1><%= @book.title %></h1>
    <span class="show-text">author: <%= @book.author %></span>
    <p class="show-text"><%= @book.description %></p>
      <nav>
      <ul class="book_tile_nav">

        <%= link_to edit_book_path do %>
          <li>edit</li>
        <% end %>

        <%= link_to book_path(@book),
          method: :delete,
          data: { confirm: 'Are you sure?' } do %>
          <li>delete</li>
        <% end %>

        <a href="<%= @book.url %>"><li>direct link</li></a>

        <%= link_to books_path do %>
          <li>back to index</li>
        <% end %>
        <span class="show-text">added by: <%= @book.user.username %></span>
        
      </ul>
    </nav>
  <div>
</main>
